<!DOCTYPE html>
<html>
<head>
  <title>RecurringScheduler</title>
  <%= stylesheet_link_tag    "recurring_scheduler/application", media: "all" %>
  <%= javascript_include_tag "recurring_scheduler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
